// fonts
$font-main: 'Inter', sans-serif;
$font-color-main: black;
$font-color-secondary: hsl(228, 28%, 20%);

// colors
$color-bg: #f3f4f5;

// colors Theme1 - Light
$color-Bg-theme1-White: hsl(0, 0%, 100%);
$color-Light-Grayish-Blue: hsl(227, 47%, 96%);
$color-Dark-Grayish-Blue: hsl(228, 12%, 44%);
$color-Facebook: hsl(208, 92%, 53%);
$color-Twitter: hsl(203, 89%, 53%);
$color-youtube: hsl(348, 97%, 39%);
$color-Lime: hsl(163, 72%, 41%);
$color-Bright-Red: hsl(356, 69%, 56%);
$color-Dashboard-Hover: hsl(230, 25%, 90%);

// colors Theme2 - Dark
$color-Bg-theme2-Dark-Blue: hsl(230, 17%, 14%);
$color-Bg-theme2-LessDark-Blue: hsl(228, 28%, 20%);
